<IfModule mod_rewrite.c>
        ErrorDocument 404 /404.php
        RewriteEngine On
        RewriteRule ^(.*)$ public/$1 [L]

</IfModule>
<IfModule mod_headers.c>
Header set Cache-Control "private"
</IfModule>