@font-face {
    font-family: 'Baskervville';
    src: url("../fonts/Baskervville-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'Baskervville';
    src: url("../fonts/Baskervville-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap; }


@font-face {
    font-family: 'Yrsa';
    src: url("../fonts/Yrsa-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'Yrsa';
    src: url("../fonts/Yrsa-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'Yrsa';
    src: url("../fonts/Yrsa-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap; }
  
@font-face {
    font-family: 'Yrsa';
    src: url("../fonts/Yrsa-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap; }
  
@font-face {
    font-family: 'Yrsa';
    src: url("../fonts/Yrsa-Light.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap; }