:root {
    --theme-light-color: #9ec6b92f;
    --white: #fff; 
    --black: #000;
    --theme-color: #7cbda8;
    --border-gray: #acacac;
    --gray: #929497;
    --theme-light-color: #7cbda878;
    --theme-dark-color: #404041;
    --theme-20op-color: #a4e5d1;

    
}