/*************************** Banner CSS ****************************/

.banner-slider-section .banner-carousel img{height: 600px; object-fit: cover;width: 100%;}
.banner-slider-section .banner-carousel .owl-controls{display: none;}
.banner-slider-section .mobile-banner{display: none !important;}