.buy-with-confidence-section article{text-align: center;}
.buy-with-confidence-section article img{margin-bottom: 10px;}
.buy-with-confidence-section article h4{ font-size: 16px; font-weight: 400; line-height: 20.69px; text-transform: uppercase;}